{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>ScaleUp</h1>
    <div class="options">
        <div class="option" id="startup">
            <h2>Startup</h2>
            <button onclick="location.href='/signup/startup'">Sign Up</button>
            <button onclick="location.href='/login/startup'">Login</button>
        </div>
        <div class="option" id="investor">
            <h2>Investor</h2>
            <button onclick="location.href='/signup/investor'">Sign Up</button>
            <button onclick="location.href='/login/investor'">Login</button>
        </div>
    </div>
{% endblock %}
